html:root {
    /* VIOLET NEW */
/* ZMIENNE KOLORYSTYCZNE BROWN*/
--bgcolor1: #fff;
--bgcolor2: #f1f1f1;
--bgcolor3: #fff;
/* <-- $maincolor  */
--maincolor1: #6D28D9;
--maincolor1_rgba: 109, 40, 217;/* <-- $maincolor  */
--maincolor2: #4C1D95;
--supportcolor1: #ff7218;
--supportcolor2: #e5e5e5;
--hovercolor1: #fff;
--hovercolor2: #fff;

--widget_header: #b0b2b1;

--btn_large: #6D28D9;
--btn_medium: #6D28D9;
--btn_small: #424240;
--btn_large_hover: #4C1D95;
--btn_medium_hover: #4C1D95;
--btn_small_hover: #4C1D95;

--txtcolor1: #282828;
--txtcolor2: #282828;
--bgaside: #fff;
--bgcontent: #fff;
--bordercolor: #e5e5e5;
--widget_icons: #6D28D9;
--icons1: #6D28D9;
/* ZMIENNE KOLORYSTYCZNE END */
}
