html:root {
    /* ORANGE NEW */
/* ZMIENNE KOLORYSTYCZNE ORANGE */
--bgcolor1: #fff;
--bgcolor2: #f1f1f1;
--bgcolor3: #fff;
/* <-- $maincolor  */
--maincolor1: #C2410C;
--maincolor1_rgba: 194, 65, 12;/* <-- $maincolor  */
--maincolor2: #7C2D12;
--supportcolor1: #ff7218;
--supportcolor2: #e5e5e5;
--hovercolor1: #fff;
--hovercolor2: #fff;

--widget_header: #b0b2b1;

--btn_large: #C2410C;
--btn_medium: #C2410C;
--btn_small: #424240;
--btn_large_hover: #7C2D12;
--btn_medium_hover: #7C2D12;
--btn_small_hover: #7C2D12;

--txtcolor1: #282828;
--txtcolor2: #282828;
--bgaside: #fff;
--bgcontent: #fff;
--bordercolor: #e5e5e5;
--widget_icons: #C2410C;
--icons1: #C2410C;
/* ZMIENNE KOLORYSTYCZNE END */
}