html:root {
    /* Indygo NEW */
/* ZMIENNE KOLORYSTYCZNE BROWN*/
--bgcolor1: #fff;
--bgcolor2: #f1f1f1;
--bgcolor3: #fff;
/*--maincolor1: #e9e9e9;*/
/* <-- $maincolor  */
--maincolor1: #4338CA;
--maincolor1_rgba: 67, 56, 202;/* <-- $maincolor  */
--maincolor2: #312E81;
--supportcolor1: #ff7218;
--supportcolor2: #e5e5e5;
--hovercolor1: #fff;
--hovercolor2: #fff;

--widget_header: #b0b2b1;

--btn_large: #4338CA;
--btn_medium: #4338CA;
--btn_small: #424240;
--btn_large_hover: #312E81;
--btn_medium_hover: #312E81;
--btn_small_hover: #312E81;

--txtcolor1: #282828;
--txtcolor2: #282828;
--bgaside: #fff;
--bgcontent: #fff;
--bordercolor: #e5e5e5;
--widget_icons: #4338CA;
--icons1: #4338CA;
/* ZMIENNE KOLORYSTYCZNE END */
}