html:root {
    /* FUSCHIA NEW */
/* ZMIENNE KOLORYSTYCZNE SAFFRON*/
--bgcolor1: #fff;
--bgcolor2: #f1f1f1;
--bgcolor3: #fff;
/* <-- $maincolor  */
--maincolor1: #A21CAF;
--maincolor1_rgba: 162, 28, 175;/* <-- $maincolor  */
--maincolor2: #701A75;
--supportcolor1: #ff7218;
--supportcolor2: #e5e5e5;
--hovercolor1: #fff;
--hovercolor2: #fff;

--widget_header: #b0b2b1;

--btn_large: #A21CAF;
--btn_medium: #A21CAF;
--btn_small: #424240;
--btn_large_hover: #701A75;
--btn_medium_hover: #701A75;
--btn_small_hover: #701A75;

--txtcolor1: #282828;
--txtcolor2: #282828;
--bgaside: #fff;
--bgcontent: #fff;
--bordercolor: #e5e5e5;
--widget_icons: #A21CAF;
--icons1: #A21CAF;
/* ZMIENNE KOLORYSTYCZNE END */
}