html:root {
    /* DARK GREEN NEW */
/* ZMIENNE KOLORYSTYCZNE */
--bgcolor1: #fff;
--bgcolor2: #121212;
--bgcolor3: #292929;

--maincolor1: #4ADE80;
--maincolor1_rgba: 74, 222, 128;/* <-- $maincolor  */
--maincolor2: #e0e2df;
--supportcolor1: #fe701a;
--supportcolor2: #555f78;
--hovercolor1: #fff;
--hovercolor2: #282828;

--widget_header: #1e2738;

--btn_large: #4ADE80;
--btn_medium: #4ADE80;
--btn_small: #fff;
--btn_large_hover: #22C55E;
--btn_medium_hover: #22C55E;
--btn_small_hover: #22C55E;

--txtcolor1: #fff;
--txtcolor2: #282828;
--bgaside: #292929;
--bgcontent: #292929;
--bordercolor: #515151;
--widget_icons: #4ADE80;
--icons1: #4ADE80;
/* ZMIENNE KOLORYSTYCZNE END */
}
