html:root {
    /* Kolor Standard NEW */
/* ZMIENNE KOLORYSTYCZNE STANDARD */
--bgcolor1: #fff;
--bgcolor2: #f1f1f1;
--bgcolor3: #fff;
/*--maincolor1: #ebebeb;*//* <-- $maincolor  */
--maincolor1: #0F172A;
--maincolor1_rgba: 46, 58, 82;/* <-- $maincolor  */
--maincolor2: #2E3A52;
--supportcolor1: #ff7218;
--supportcolor2: #e5e5e5;
--hovercolor1: #fff;
--hovercolor2: #fff;

--widget_header: #b0b2b1;

--btn_large: #0F172A;
--btn_medium: #0F172A;
--btn_small: #424240;
--btn_large_hover: #2E3A52;
--btn_medium_hover: #2E3A52;
--btn_small_hover: #2E3A52;

--txtcolor1: #282828;
--txtcolor2: #282828;
--bgaside: #fff;
--bgcontent: #fff;
--bordercolor: #e5e5e5;
--widget_icons: #0F172A;
--icons1: #0F172A;
/* ZMIENNE KOLORYSTYCZNE END */
}