<style type="text/css">
  .full-width-container{position:relative; width:100vw; left:50%; margin-left:-50vw;}
.all-container .about-main-container {margin:0 0 40px !important;}
.about-main-container > .main{max-width:none;padding:0;}
.about-main-container .main-decription{font-size:0.9em;margin:0;}
.about-main-container .section{overflow:hidden;}
#parallax_topslider{position:relative;}
#parallax_topslider div{min-width:100vw;}
.menu_search {position:relative;}
.firstslide.main {vertical-align: middle;position: absolute;z-index: 1;top: -2000px; left: 0;right: 0;margin: auto !important;text-align:center;display:none;padding-left:260px; transform: scale(0.9) translateY(100px);height:100%;padding-top:0 !important;}
.firstslide_sub {display:table-cell;vertical-align:middle;}
.firstslide h1{margin:30px 0 40px;}	
.firstslide p{color:#fff;}			
.firstslide .f1-text{font-size:2.143em;}
.firstslide .f2-text{font-size:1.286em;}
.firstslide .f3-text{font-size:0.929em;color:#c9d6f7;}
.firstslide .button{font-size:0.857em;background:#3c4c72; color:#fff; padding:20px 25px; text-transform:uppercase; font-weight:700;display:inline-block;margin:30px 0;}
.firstslide .button:hover{background:#000;}
.section *{font-family:'Noto Sans', sans-serif;}
.section.s1 {background: #f4f4f4;vertical-align: middle;padding:60px 0;}
.section.s1 .main { background: #f4f4f4; }
.section.s1 .section_sub,.section.s2 .section_sub { margin: 0 auto; float: none; }
.section.s1 .section_sub > div { margin: 0; background: rgba(255, 255, 255, 0.2); box-shadow: 0px 0px 20px 20px rgba(255, 255, 255, 0.2); padding: 0 30px; text-align: right; }
.section.s1  img.img_header { margin-left: 10px; }
.section h2 { margin: 0 0 40px !important; font-size: 2.571em; display: block; font-weight:700 !important;color:#3a3a3a; text-transform:uppercase; }
.section.s2 h2{color:#fff; font-weight:400 !important;}
.section.s1 .short-dscr,.section.s2 .short-dscr {font-size: 1.286em; text-transform: uppercase; margin-bottom: 40px; }
.section.s1 .long-dscr,.section.s2 .long-dscr  { font-size: 1.143em; line-height:1.8; }
.section .section_sub a {display:block; text-transform:uppercase;color:#3c4c72; font-weight:700;margin-top:40px;}
.section.s2 .section_sub a {color:#fff;}
.section.s2 {background: #3c4c72;vertical-align: middle; color:#fff;padding:60px 0;}
.section.s2 .long-dscr{color:#8c99b8;}
.section.s2 .main{ background: #3c4c72;}
.section.s2 .section_sub > div{text-align:left;padding: 0 30px;}
.section.s3 {text-align:center; background:#fff;}
.section.s3 .section_sub { display: inline-block; height: 50vh; background: #576da4; color: #fff; }
.section.s3 .cms_buttons {margin:0px auto; padding: 20px 0; }
.section.s3 .section_sub p {opacity:0.3;}
.section.s3 p{ font-size: 1em; letter-spacing: 3px;}
.section.s3 h3{font-size: 1.4em; font-weight: 700;padding: 20px 0 30px;line-height:1.2;color:#667aac;}
.section.s3 .section_sub h3 {color:#3a3a3a}
.section.s3 .table { display: table; width: 100%; height: 100%; vertical-align: middle; }
.section.s3 .table-cell { display: table-cell; vertical-align: middle; width: 100%; height: 100%; font-weight:700; padding:0;}
.section.s3 .sep { display: inline-block; height: 50vh; }
.section.s3 .bg_img1 { background: #576da4 url('../frontpage-template/template/default6/images/cms/slide4_1.jpg') no-repeat right center; background-size: 100%; }
.section.s3 .bg_img2 { background: url('../frontpage-template/template/default6/images/cms/slide4_2.jpg') no-repeat right center; background-size: cover; }
.section.s3 .bg_img3 { background: #eee url('../frontpage-template/template/default6/images/cms/slide4_3.jpg') no-repeat center bottom; background-size: contain; }
.section.s3 .bg_img4 { background: #3c4c72 url('../frontpage-template/template/default6/images/cms/slide4_4.jpg') no-repeat right bottom; background-size: 100%; }
.section.s3 .bg_color1 { background: #3c4c72; color:#fff; }
.section.s3 .bg_color1 h3{color:rgba(255,255,255,0.9);}
.section.s3 .bg_color1 p {opacity:0.3;}
.section.s3 .bg_color2 { background: #eee;}
.section.s3 .bg_color2 p{color:#3c4c72;}
.section.s3 .section_sub h3{color:#fff;}
.parallax_slide,#parallax_topslider .slick-track img{transition: transform 15s ease;transform: scale(1.1);width:100%;}
.parallax_slide.animate, #parallax_topslider.animate .slick-track img{transform: scale(1);}		
.firstslide.animate{display:table;top:0;}
#parallax_topslider .firstslide img{width:auto;}
/*.section .section_sub > div:first-child{left:-100%;transition:all 1s ease;}
.section .section_sub > div:last-child{right:-100%;transition:all 1s ease;}
.section .section_sub.animate > div:first-child{left:0;}
.section .section_sub.animate > div:last-child{right:0;}*/
@media only screen and (max-width:979px){
  .section.s1 .main,.section.s2 .main{background:none;}
  .section.s1 .section_sub > div,.section.s2 .section_sub > div{text-align:center;}
  .firstslide.main{padding:10px !important;transform: scale(1) translateY(0);}
}
@media only screen and (max-width:757px){
  .about-main-container .main-decription{font-size:inherit;}
  .section.s3 h3{font-size: 2.143em;}
}
@media only screen and (min-width:1200px) and (min-height:768px) {
  .section.s3 .table-cell{padding:0 50px;}
  .about-main-container .main-decription{font-size:inherit;}
  .section.s3 h3{font-size: 2.143em;}
  .firstslide .button{margin:30px 0 70px;}
  .firstslide.main{padding-left:50px;	transform: scale(1);}
}
</style>
<script type="text/javascript">
  $(function(){
      if($(".firstslide").length){
          $("#parallax_topslider").after($(".firstslide").animate({top:'0'},1500));                   
      }

  })
</script>
