html:root {
    /* GOLD NEW */
/* ZMIENNE KOLORYSTYCZNE GOLD*/
--bgcolor1: #fff;
--bgcolor2: #f1f1f1;
--bgcolor3: #fff;
/* <-- $maincolor  */
--maincolor1: #836844;
--maincolor1_rgba: 131, 104, 68;/* <-- $maincolor  */
--maincolor2: #6F5636;
--supportcolor1: #ff7218;
--supportcolor2: #e5e5e5;
--hovercolor1: #fff;
--hovercolor2: #fff;

--widget_header: #b0b2b1;

--btn_large: #836844;
--btn_medium: #836844;
--btn_small: #424240;
--btn_large_hover: #6F5636;
--btn_medium_hover: #6F5636;
--btn_small_hover: #6F5636;

--txtcolor1: #282828;
--txtcolor2: #282828;
--bgaside: #fff;
--bgcontent: #fff;
--bordercolor: #e5e5e5;
--widget_icons: #836844;
--icons1: #836844;
/* ZMIENNE KOLORYSTYCZNE END */
}
