html:root {
/* ZMIENNE KOLORYSTYCZNE RED*/
--bgcolor1: #fff;
--bgcolor2: #f1f1f1;
--bgcolor3: #fff;
/* <-- $maincolor  */
--maincolor1: #BE123C;
--maincolor1_rgba: 190, 18, 60;/* <-- $maincolor  */
--maincolor2: #881337;
--supportcolor1: #ff7218;
--supportcolor2: #e5e5e5;
--hovercolor1: #fff;
--hovercolor2: #fff;

--widget_header: #b0b2b1;

--btn_large: #BE123C;
--btn_medium: #BE123C;
--btn_small: #424240;
--btn_large_hover: #881337;
--btn_medium_hover: #881337;
--btn_small_hover: #881337;

--txtcolor1: #282828;
--txtcolor2: #282828;
--bgaside: #fff;
--bgcontent: #fff;
--bordercolor: #e5e5e5;
--widget_icons: #BE123C;
--icons1: #BE123C;
/* ZMIENNE KOLORYSTYCZNE END */
}