html:root {
    /* DARK BLUE NEW */
/* ZMIENNE KOLORYSTYCZNE */
--bgcolor1: #fff;
--bgcolor2: #121212;
--bgcolor3: #292929;
/*--maincolor1: #313d57;*//* <-- $maincolor  */
--maincolor1: #38BDF8;
--maincolor1_rgba: 79, 193, 230;/* <-- $maincolor  */
--maincolor2: #e0e2df;
--supportcolor1: #fe701a;
--supportcolor2: #555f78;
--hovercolor1: #fff;
--hovercolor2: #282828;

--widget_header: #1e2738;

--btn_large: #38BDF8;
--btn_medium: #38BDF8;
--btn_small: #fff;
--btn_large_hover: #0EA5E9;
--btn_medium_hover: #0EA5E9;
--btn_small_hover: #0EA5E9;

--txtcolor1: #fff;
--txtcolor2: #282828;
--bgaside: #292929;
--bgcontent: #292929;
--bordercolor: #515151;
--widget_icons: #38BDF8;
--icons1: #38BDF8;
/* ZMIENNE KOLORYSTYCZNE END */
}



