<div class="firstslide main">
  <div class="firstslide_sub">
    <p class="f1-text">Własna strona www dzięki</p>
    <h1><img src="../frontpage-template/template/default6/images/cms/idosell.png"
        alt="IdoSell Booking - Najlepszy system do obsługi rezerwacji" /></h1>
    <p class="f2-text">Jeżeli zależy Ci na indywidualnym wyglądzie wizyt&oacute;wki, dopasowanym do Twoich potrzeb
      zapraszamy do kontaktu z działem graficznym.</p>
    <a class="button" title="Zam&oacute;w stronę wizyt&oacute;wkę w IAI"
      href="https://www.idosell.com/pl/booking/">Zam&oacute;w stronę wizyt&oacute;wkę</a>
    <p class="f3-text">To jest strona gł&oacute;wna Twojej nowej wizyt&oacute;wki.<br /> Aby ją zmienić lub usunąć udaj
      się do panelu administracyjnego i wybierz w dziale<br /> <strong>Wizyt&oacute;wka &gt; Konfiguracja strony
        wizyt&oacute;wki</strong></p>
  </div>
</div>
<div class="section s1  fp-auto-height">
  <div class="section_sub main">
    <div class="row">
      <div class="col-md-6 col-sm-12">
        <h2>O nas</h2>
        <div class="short-dscr">Tutaj możesz umieścić najważniejsze zalety swojego obiektu</div>
        <div class="long-dscr">Dobrą praktyką jest umieszczenie w tym miejscu tekstu, kt&oacute;ry poprawi
          pozycjonowanie strony twojego obiektu, czyli np. zawiera słowa kluczowe na kt&oacute;re chcesz się
          pozycjonować. Pamiętaj, aby opisać to normalnym językiem, gdyż będą to czytali normalni klienci i dla nich
          ważne będzie przekazanie emocji, unikalnej propozycji. <a title="O nas"
            href="https://www.idosell.com/pl/booking/">Sprawdź szczeg&oacute;ły</a></div>
      </div>
      <div class="col-md-6 col-sm-12"><img title="O nas"
          src="../frontpage-template/template/default6/images/cms/cms1.jpg" /></div>
    </div>
  </div>
</div>
<div class="section s2  fp-auto-height">
  <div class="section_sub main">
    <div class="col-md-6 col-sm-12"><img title="Promocja"
        src="../frontpage-template/template/default6/images/cms/cms2.jpg" /></div>
    <div class="col-md-6 col-sm-12">
      <h2>Promocja</h2>
      <div class="short-dscr">Tutaj możesz dodać informacje na temat oferty specjalnej</div>
      <div class="long-dscr">Prezentuj promocje oraz oferty specjalne na swojej stronie. Zadbaj o wypromowanie ofert za
        pomocą odpowiednio stworzonej strefy CMS. Zachęcamy do wsp&oacute;łpracy z naszym działem graficznym,
        kt&oacute;ry dostosuje każdą strefę lub całą wizyt&oacute;wkę do Twoich potrzeb. <a title="Promocja"
          href="https://www.idosell.com/pl/booking/">Sprawdź szczeg&oacute;ły</a></div>
    </div>
  </div>
</div>
<div class="section s3">
  <div class="main">
    <div class="row cms_buttons">
      <div class="col-md-3 col-sm-6 col-xs-12"><img
          src="../frontpage-template/template/default6/images/cms/button1_1.jpg" alt="" /></div>
      <div class="col-md-3 col-sm-6 col-xs-12"><img
          src="../frontpage-template/template/default6/images/cms/button1_2.jpg" alt="" /></div>
      <div class="col-md-3 col-sm-6 col-xs-12"><img
          src="../frontpage-template/template/default6/images/cms/button1_3.jpg" alt="" /></div>
      <div class="col-md-3 col-sm-6 col-xs-12"><img
          src="../frontpage-template/template/default6/images/cms/button1_4.jpg" alt="" /></div>
    </div>
  </div>
  <div class="full-width-container">
    <div class="row">
      <div class="col-md-3 col-sm-6 col-xs-12 section_sub">
        <div class="table">
          <div class="table-cell">
            <p>MOŻLIWOŚCI</p>
            <h3>KALENDARZ REZERWACJI</h3>
            Zintegrowany z Twoją stroną www
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 col-xs-12 sep bg_img1">&nbsp;</div>
      <div class="col-md-3 col-sm-6 col-xs-12 sep bg_color2">
        <div class="table">
          <div class="table-cell">
            <p>NOWOŚĆ</p>
            <h3>OBSŁUGA REZERWACJI DZIENNYCH</h3>
            dla wynajmu, wypożyczeń oraz rezerwacji
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 col-xs-12 sep bg_img2">&nbsp;</div>
      <div class="col-md-3 col-sm-6 col-xs-12 sep bg_img3">&nbsp;</div>
      <div class="col-md-3 col-sm-6 col-xs-12 sep bg_color2">
        <div class="table">
          <div class="table-cell">
            <p>INTEGRACJE</p>
            <h3>CHANNEL MANAGER</h3>
            Prezentacja oferty w r&oacute;żnych systemach rezerwacji
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 col-xs-12 sep bg_color1">
        <div class="table">
          <div class="table-cell">
            <p>OFERTA</p>
            <h3>JEDEN SYSTEM WIELE MOŻLIWOŚCI</h3>
            Zainwestuj w sw&oacute;j biznes i zwiększ sprzedaż bezpośrednią
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 col-xs-12 sep bg_img4">&nbsp;</div>
    </div>
  </div>
</div>