
.icon-users:before { content: '\e800'; } /* '' */
.icon-trip-adv:before { content: '\e801'; } /* '' */
.icon-right-open:before { content: '\e802'; } /* '' */
.icon-left-open:before { content: '\e803'; } /* '' */
.icon-arrow_big_up:before { content: '\e804'; } /* '' */
.icon-arrow_big_white_left:before { content: '\e805'; } /* '' */
.icon-arrow_big_down:before { content: '\e806'; } /* '' */
.icon-arrow_big_white_right:before { content: '\e807'; } /* '' */
.icon-arrow_smaller_down:before { content: '\e808'; } /* '' */
.icon-resize-full:before { content: '\e809'; } /* '' */
.icon-upload:before { content: '\e80a'; } /* '' */
.icon-menu:before { content: '\e80b'; } /* '' */
.icon-phone:before { content: '\e80c'; } /* '' */
.icon-pin:before { content: '\e80d'; } /* '' */
.icon-user:before { content: '\e80e'; } /* '' */
.icon-check:before { content: '\e80f'; } /* '' */
.icon-camera:before { content: '\e811'; } /* '' */
.icon-bed:before { content: '\e814'; } /* '' */
.icon-gift:before { content: '\e815'; } /* '' */
.icon-star:before { content: '\e816'; } /* '' */
.icon-info:before { content: '\e817'; } /* '' */
.icon-user2:before { content: '\e818'; } /* '' */
.icon-user3:before { content: '\e819'; } /* '' */
.icon-credit-card:before { content: '\e81a'; } /* '' */
.icon-food:before { content: '\e81b'; } /* '' */
.icon-coffee:before { content: '\e81c'; } /* '' */
.icon-google:before { content: '\e81e'; } /* '' */
.icon-facebook:before { content: '\e824'; } /* '' */
.icon-instagram:before { content: '\e826'; } /* '' */
.icon-pinterest:before { content: '\e827'; } /* '' */
.icon-twitter:before { content: '\e828'; } /* '' */
.icon-checked-box:before { content: '\e829'; } /* '' */
.icon-piggybank:before { content: '\e82a'; } /* '' */
.icon-shield:before { content: '\e82b'; } /* '' */
.icon-spin:before { content: '\e834'; } /* '' */
.icon-map:before { content: '\e835'; } /* '' */
.icon-lozko-01:before { content: '\e836'; } /* '' */
.icon-lozko-02:before { content: '\e837'; } /* '' */
.icon-lozko-03:before { content: '\e838'; } /* '' */
.icon-lozko-04:before { content: '\e839'; } /* '' */
.icon-lozko-05:before { content: '\e83a'; } /* '' */
.icon-lozko-06:before { content: '\e83b'; } /* '' */
.icon-facebook-1:before { content: '\e83c'; } /* '' */
.icon-insta:before { content: '\e83d'; } /* '' */
.icon-polygon-1:before { content: '\e83e'; } /* '' */
.icon-gallert_arrow_left:before { content: '\e845'; } /* '' */
.icon-gallert_arrow_right:before { content: '\e846'; } /* '' */
.icon-bunk-bed:before { content: '\e84a'; } /* '' */
.icon-size:before { content: '\e874'; } /* '' */
.icon-down_arrow_3_:before { content: '\e87e'; } /* '' */
.icon-hamburger:before { content: '\e87f'; } /* '' */
.icon-group-2452:before { content: '\e880'; } /* '' */
.icon-group-2451:before { content: '\e881'; } /* '' */
.icon-safe:before { content: '\e882'; } /* '' */
.icon-bed-(2):before { content: '\e883'; } /* '' */
.icon-bunk-bed-1:before { content: '\e884'; } /* '' */
.icon-kanapasvg:before { content: '\e885'; } /* '' */
.icon-youtube-(3):before { content: '\e886'; } /* '' */
.icon-tik-tok:before { content: '\e887'; } /* '' */
.icon-instagram-(1):before { content: '\e888'; } /* '' */
.icon-tripadvisor-logotype:before { content: '\e889'; } /* '' */
.icon-linkedin:before { content: '\e88a'; } /* '' */
.icon-facebook-(3):before { content: '\e88b'; } /* '' */
.icon-door:before { content: '\e8a7'; } /* '' */
.icon-search:before { content: '\f002'; } /* '' */
.icon-envelope-alt:before { content: '\f003'; } /* '' */
.icon-plus:before { content: '\f067'; } /* '' */
.icon-minus:before { content: '\f068'; } /* '' */
.icon-calendar:before { content: '\f073'; } /* '' */
.icon-paypal:before { content: '\f1ed'; } /* '' */
