:root {
/* ZMIENNE KOLORYSTYCZNE STANDARD */
--bgcolor1: #fff;
--bgcolor2: #f1f1f1;
--bgcolor3: #fff;

--maincolor1: #4caf54;
--maincolor2: #282828;
--supportcolor1: #da5e61;
--supportcolor2: #e5e5e5;
--hovercolor1: #000;
--hovercolor2: #fff;

--widget_header: #b0b2b1;

--btn_large: #40a350;
--btn_medium: #40a350;
--btn_small: #424240;
--btn_large_hover: #b0b2b1;
--btn_medium_hover: #434142;
--btn_small_hover: #434142;

--txtcolor1: #282828;
--txtcolor2: #282828;
--bgaside: #fff;
--bgcontent: #fff;
--bordercolor: #e5e5e5;
--widget_icons: #d2d6d5;
--icons1: #979799;
--bgwidget: #f1f1f1;
/* ZMIENNE KOLORYSTYCZNE END */
}